* {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.homepage-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: white;
}



.matrix-box {
  display:flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.grid-selector {
  display:flex;
  flex-direction: row;
  width: 25%;
  margin-top: 2rem;
  justify-content: space-evenly;
  align-items: center;
  justify-content: center;
}

.grid-selector > * {
  width: 30%;
  text-align: center;
}


.matrix-grid {
  display: grid;
  height:52vh;
  width:52vh;
  justify-self: center;
  margin: 1rem;
}

.matrix-grid-tile  {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 2.25rem;
}


.main-content-wrapper {
  display:flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  
}

.main-component-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 80%;

}

.main-component-wrapper > div {
  height: 100%;
  width: 45%;
  border-radius: 4px;
  box-shadow: 0px 0px 8px 1px grey;
}


.img-box-wrapper {
  display: flex;
}

.img-box > img {
  max-width: 80%;
  max-height: 80%;
  margin: 2rem;

}
.img-box > input {
  align-self: flex-end;
  transform: scale(1.25,1.25);
}
.img-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 1rem;
}

.mode-selector {
  display: flex;
  flex-direction: row;
  width:50%;
  align-items: center;
  justify-content: space-between;
}

.mode-selector > select  {
  height: 2rem;
  border: none;
  color: black;
  background-color: #00CC99;
  padding: 0.25rem;

}
.loading-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: white;
  font-size: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.loading-box > img {
  height: 15vh;
  padding: 1.5rem;
}

.btn {
  height: min(4rem, 36px);
  width: min(8rem, 72px);
  margin: 0.5rem;
  background-color: #00CC99;
  outline: none;
  border: none;
  border-radius: 4px;
}
.btn:hover{
  transition-duration: 150ms;
  background-color: #2efcc8;
}


.navbar {
  background-color: white;
  height: 10%;
  width: 100%;
  box-shadow: 0 2px 4px 1px grey;
  padding-left: 3rem;
}

.navbar-list {
  display:flex;
  align-items: center;
}

.nav-img-wrapper {
  height: 100%;
  justify-self: flex-start;
}


.nav-img-wrapper > a > img {
  max-height: 100%;
}


.navbar-list > a:hover{
  text-decoration: underline;
}

.intro-wrapper {
  width: 100%;
  height: 90%;
  margin-bottom: 2rem;
  padding: 2.5rem;

}

.intro-page {
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-image: url("./components/mainbackground.jpeg");
}


.main-heading{
  height: 30%;
  font-size: 5rem;
  width: 90%;
  color:white;
  
  vertical-align: center;
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
}
