* {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
}

.matrix-grid {
  display: grid;
  width: 1000px;
  height: 1000px;

}

.matrix-grid-tile  {
  width: 100%;
  height: 100%;
  background-color:red;
  border:3px solid black;
  
}